<section class="modal-save">
  <v-dialog v-model="isSaveModal" persistent max-width="400">
    <v-card>
      <v-card-title class="title">Would you like to save this session ?</v-card-title>
      <v-card-text class="text-xs-center">
        <v-btn color="primary" @click="saveCoin(false)">
          Offline
        </v-btn>

        <v-btn color="primary" @click="saveCoin(true)">
          Online
        </v-btn>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat @click.stop="closeSaveModal">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</section>
