<section class="accountant">
  <v-data-table :headers="headers" :items="statistics" hide-actions class="elevation-1 mb-3" expand>
    <template slot="items" slot-scope="props">
      <tr>
        <td>
          <v-btn icon class="mx-0 my-0" @click="addCoin()">
            <v-icon color="teal">queue</v-icon>
          </v-btn>
          <v-btn icon class="mx-0 my-0" v-if="isRemove" @click="removeCoin(props.index)">
            <v-icon color="red darken-1">highlight_off</v-icon>
          </v-btn>
        </td>
        <td>
          <v-select :items="coins" :filter="customFilter" v-model="props.item.coin" :label="$t('accountant.form.label_name')" item-text="name" autocomplete></v-select>
        </td>
        <td>
          <v-text-field type="number" v-model="props.item.coin.amount"></v-text-field>
        </td>
        <td>
          <v-text-field type="number" v-model="props.item.coin.price_buy"></v-text-field>
        </td>
        <td>
          {{ props.item.coin.price_usd ? props.item.coin.price_usd : '-' }}
        </td>
        <td>
          {{ total(props.item.coin, 'buy') }}
        </td>
        <td>
          <span :class="{'red--text': islose(props.item.coin), 'blue--text': !islose(props.item.coin) }">
            {{ total(props.item.coin, 'current') }}
          </span>
        </td>
        <td>
          <span :class="{'red--text': islose(props.item.coin), 'blue--text': !islose(props.item.coin) }">
            {{ profitLoss(props.item.coin) }}
          </span>
          <v-icon small v-html="props.item.coin.textProfitLoss"></v-icon>
        </td>
      </tr>
    </template>

    <template slot="footer">
      <td colspan="5"></td>
      <td colspan="1">
        <strong>Total</strong>
      </td>
      <td colspan="2">
        <p class="my-0">{{ sumTotal }}</p>
      </td>
    </template>
  </v-data-table>
</section>
