<v-dialog v-model="isOpen" class="dialog-details" max-width="250px">
  <v-card>
    <v-card-title>
      <h3 class="headline mb-0">{{ coin.name }}</h3>
    </v-card-title>

    <v-list>
      <v-list-tile>
        <v-list-tile-content>Hour (%)</v-list-tile-content>
        <v-list-tile-content class="align-end">{{ $t('accountant.details.percent', { unit: coin.hour }) }}</v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Day (%)</v-list-tile-content>
        <v-list-tile-content class="align-end">{{ $t('accountant.details.percent', { unit: coin.day }) }}</v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Week (%)</v-list-tile-content>
        <v-list-tile-content class="align-end">{{ $t('accountant.details.percent', { unit: coin.week }) }}</v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-card-actions>
      <v-btn color="primary" flat @click.stop="closeModal">Close</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
